<template>
  <div class="hello">
    <div id="auth_page" class="container">
      <div class="row">
        <div class="col-md-5 offset-4 mt-lg-4">
          <form class="form-signin" v-on:submit.prevent="loginUser">
            <div class="text-center mb-4 mt-lg-4">
              <img class="mb-4" src="../../assets/logo.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
              <h3 class="h3 mb-3 font-weight-normal">Login Here .. </h3>
            </div>

            <div class="form-label-group">
              <input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../../router'
import EventBus from '../EventBus'
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    loginUser () {
      axios.post('/api/auth/login',
        {
          email: this.email,
          password: this.password
        }
      ).then((res) => {
        localStorage.setItem('usertoken', res.data)
        this.email = ''
        this.password = ''
        router.push({ name: 'Home' })
      }).catch((err) => {
        console.log(err)
      })
      this.emitMethod()
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    }
  }
}
</script>

<style scoped>

</style>
