<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <navbar></navbar>
    <sidemenu></sidemenu>
    <router-view />
  </div>
</template>

<script>
import Navbar from '../src/components/partials/Navbar'
import Sidemenu from '../src/components/partials/Sidemenu'
export default {
  name: 'App',
  components: {
    'Navbar': Navbar,
    'Sidemenu': Sidemenu
  }
}
</script>
