<template>
<div class="sidemenu">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column mt-lg-4">
        <li class="nav-item">
          <router-link class="nav-link" to="/home">Dashboard</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/users">Users</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/projects">Projects</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/tasks">Tasks</router-link>
        </li>
      </ul>

    </div>
  </nav>
</div>
</template>

<script>
export default {
  name: 'Sidemenu'
}
</script>

<style scoped>

</style>
