<template>
  <div class="projects">
    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4">
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th> Project Name</th>
            <th> Description</th>
            <th> Active</th>
            <th> Date Created</th>
            <th> Last Modified</th>
            <th> Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(project) in projects"
              v-bind:key="project.id"
              v-bind:projectName="project.project_name"
              v-bind:projectDescription="project.description"
              v-bind:active="project.status"
              v-bind:dateCreated="project.date_created"
              v-bind:dateModified="project.date_modified">
            <td>{{project.project_name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.status}}</td>
            <td>{{project.date_created}}</td>
            <td>{{project.date_modified}}</td>
            <td class="text-right">
              <button class="btn btn-info btn-sm" v-on:click="editProject(project.project_name, project.description, project.id)">Edit</button>
              <button class="btn btn-danger btn-sm" v-on:click="deleteProject(project.id)"> Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      projects: []
      // id: '',
      // taskName: '',
      // taskDescripiton: '',
      // isEdit: false
    }
  },
  mounted () {
    this.getProjects()
  },
  methods: {
    getProjects () {
      axios.get('/api/projects').then(
        result => {
          console.log(result.data)
          this.projects = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    addNewProject () {
      axios.post('/api/project', {
        project_name: this.project_name,
        description: this.description})
        .then((res) => {
          this.projectName = ''
          this.description = ''
          this.getProjects()
        }).catch((err) => {
          console.log(err)
        })
    },
    editProject (projectName, projectDescription, id) {
      this.id = id
      this.project_name = projectName
      this.description = projectDescription
      this.isEdit = true
    },
    updateProject () {
      axios.put(`/api/project/${this.id}`,
        { project_name: this.projectName, description: this.projectName }
      ).then((res) => {
        this.projectName = ''
        this.projectDescription = ''
        this.isEdit = false
        this.getProjects()
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteProject (id) {
      axios.delete(`/api/project/${id}`)
        .then((res) => {
          this.projectName = ''
          this.projectName = ''
          this.getProjects()
          console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>
