<template>
  <div class="tasks">
    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4">
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th> Task Name</th>
            <th> Description</th>
            <th> Project </th>
            <th> Active</th>
            <th> Date Created</th>
            <th> Last Modified</th>
            <th> Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(task) in tasks"
              v-bind:key="task.id"
              v-bind:taskName="task.task_name"
              v-bind:taskDescription="task.description"
              v-bind:project="task.project_id"
              v-bind:active="task.status"
              v-bind:dateCreated="task.date_created"
              v-bind:dateModified="task.date_modified">
            <td>{{task.task_name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.project_id}}</td>
            <td>{{task.status}}</td>
            <td>{{task.date_created}}</td>
            <td>{{task.date_modified}}</td>
            <td class="text-right">
              <button class="btn btn-info btn-sm" v-on:click="editTask(task.project_name, task.description, task.id)">Edit</button>
              <button class="btn btn-danger btn-sm" v-on:click="deleteTask(task.id)"> Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      tasks: [],
      id: '',
      taskName: '',
      taskDescripiton: '',
      isEdit: false
    }
  },
  mounted () {
    this.getTasks()
  },
  methods: {
    getTasks () {
      axios.get('/api/tasks').then(
        result => {
          console.log(result.data)
          this.tasks = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    addNewTask () {
      axios.post('/api/task', {
        task_name: this.taskname,
        description: this.description})
        .then((res) => {
          this.taskname = ''
          this.description = ''
          this.getTasks()
        }).catch((err) => {
          console.log(err)
        })
    },
    editTask (title, description, id) {
      this.id = id
      this.taskname = title
      this.description = description
      this.isEdit = true
    },
    updateTask () {
      axios.put(`/task/${this.id}`,
        { task_name: this.taskname, description: this.description }
      ).then((res) => {
        this.taskname = ''
        this.description = ''
        this.isEdit = false
        this.getTasks()
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteTask (id) {
      axios.delete(`/task/${id}`)
        .then((res) => {
          this.task_name = ''
          this.description = ''
          this.getTasks()
          console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>
