<template>
  <div class="users">
    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4">
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th> Email</th>
            <th> Active</th>
            <th> Date Created</th>
            <th> Last Modified</th>
            <th> Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(user) in users"
              v-bind:key="user.id"
              v-bind:firstName="user.first_name"
              v-bind:lastName="user.last_name"
              v-bind:email="user.email"
              v-bind:active="user.active"
              v-bind:dateCreated="user.date_created"
              v-bind:dateModified="user.date_modified">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.active}}</td>
            <td>{{user.date_created}}</td>
            <td>{{user.date_modified}}</td>
            <td class="text-right">
              <button class="btn btn-info btn-sm" v-on:click="editUser(user.first_name, todo.last_name, user.id)">Edit</button>
              <button class="btn btn-danger btn-sm" v-on:click="deleteUser(user.id)"> Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      users: [],
      id: '',
      firstName: '',
      lastName: '',
      isEdit: false
    }
  },
  mounted () {
    this.getUsers()
  },
  methods: {
    getUsers () {
      axios.get('/api/users').then(
        result => {
          console.log(result.data)
          this.users = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
    addNewUser () {
      axios.post('/api/user', {
        first_name: this.first_name,
        description: this.description
      })
        .then((res) => {
          this.taskname = ''
          this.description = ''
          this.getUsers()
        }).catch((err) => {
          console.log(err)
        })
    },
    editUser (title, description, id) {
      // this.id = id,
      // this.first_name = firstName,
      // this.last_name = first_name
      this.isEdit = true
    },
    updateUser () {
      axios.put(`/api/user/${this.id}`,
        {first_name: this.firstName, last_name: this.lastName}
      ).then((res) => {
        this.taskname = ''
        this.description = ''
        this.isEdit = false
        this.getUsers()
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteUser (id) {
      axios.delete(`/api/user/${id}`)
        .then((res) => {
          // this.task_name = ''
          // this.description = ''
          this.getUsers()
          console.log(res)
        })
        .catch((err) => {
          console.log(err)
        })
    }

  }
}

</script>
